<nav id="nav" [ngClass]="{'visible-nav':showBlackBg}">
  <div class="page-logo">
    <img src="../../assets/svgs/space-force-logo-v2.svg" alt="logo">
  </div>

  <button class="nav-button" routerLinkActive="call-to-action" routerLink="/planets">Planets</button>
  <button class="nav-button" routerLinkActive="call-to-action" routerLink="/spaceships">Spaceships</button>
  <button class="nav-button">{{currentBalance$|async|currency:'USD':'symbol':'1.0-0'}}</button>
</nav>

<header id="header">
  <div id="slogan">Make Space Great Again</div>
</header>
