:host {
  display: flex;
  color: white;
  font-family: 'Rajdhani', sans-serif;
}

.blink {
  animation: blink .75s linear infinite;
}

.warning {
  color: red;
  text-transform: uppercase;
}

.small-text {
  font-size: 12px;
}
