:host {
  color: cadetblue;
}

.wrapper {
  display: flex;
  position: relative;
  top: -30px;
}

.spaceship-box {
  font-size: 18px;
  height: 100px;
  width: 100px;
}

.spaceship-image {
  height: 100%;
}
