.input-container {
  position: relative;
  margin-bottom: 25px;
}

::ng-deep .input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: #fff;
  pointer-event: none;
  transition: all 0.5s ease-in-out;
}

::ng-deep .input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;
}

::ng-deep .input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}

::ng-deep .input-container input:focus ~ label,
::ng-deep .input-container input:valid ~ label {
  transform: translate(-6px, -12px) scale(0.8);

}

.samples-wrapper{
  margin-left: 10px;
}
