<div class="headquarters">
  <div class="headquarters-description">
    <h2>Current Headquarters</h2>
    <h3>Earth</h3>

    <ul>
      <li>Population: 7,864,429,455</li>
      <li>Continents: 7</li>
      <li>Year Length: 365.25 Earth days</li>
    </ul>
  </div>

  <div class="earth-animation">
    <div class="earth-globe">
      <img src="../../../assets/svgs/earth.svg" alt="earth">
      <div class="moon-globe" >
        <img src="../../../assets/svgs/moon.svg" alt="moon">
      </div>
    </div>
  </div>

</div>
