:host {
  display: block;
}

p {
  text-align: center;
  margin: 0;
  font-size: 17px;

}

.planet-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

app-planet-sample-form {
  flex: 1 1 50vw;
}

app-planet {
  flex: 1 1 auto;
}
