:host {
  display: block;
  background: url("../../../assets/images/stars-repeating-teal.jpg") center repeat;
}
.travelbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.planets-container app-planet:nth-child(3) { // space for earth
  margin-top: 350px;
}
.earth-container {
  top: -350px;
  position: relative;
}

.planets-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
