/* You can add global styles to this file, and also import other style files */
.section-label {
  font-family: 'Rajdhani', sans-serif;
  font-size: 36px;
  color: white;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.nav-button {
  padding: 10px 30px;
  margin: 20px 20px;
  outline: none;
  background: transparent;
  border: 1px solid rgba(0, 148, 255, 0.5);
  color: white;
  border-radius: 6px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  transition: box-shadow 180ms ease-in-out;

  &:hover {
    box-shadow: 0 0 20px 5px #0094ff;
  }

  &[disabled] {
    box-shadow: 0 0 10px 5px darkred;
    cursor: not-allowed;
    color: gray;
  }

  &:active {
    color: #0094ff;
  }
}

