:host {
  box-sizing: border-box;
  display: block;
}

.section-label {
  font-family: 'Rajdhani', sans-serif;
  font-size: 36px;
  color: white;
  text-align: center;
}

.planets-container {
  text-align: center;
}
